<div class="header">
    <div class="title">
      <h1>PLANILLA DE REGISTRO - SUBESTACIÓN LA MIEL</h1>
      <div class="subtitle">Código: PLT_201_MST_032 — Versión: 2.0</div>
    </div>
</div>

<section>
    <h2>1. Datos Generales</h2>
    <div class="small">Encabezado y convenciones</div>

    <div class="label-row">
      <label for="fecha">Fecha (dd/mm/aa)</label>
      <div class="input"><input type="date" id="fecha" name="fecha"></div>
    </div>

    <div class="label-row">
      <label for="ejecuto">Ejecutó</label>
      <div class="input"><input type="text" id="ejecuto" name="ejecuto" placeholder="Nombre del inspector"></div>
    </div>

    <div class="label-row">
      <label for="numero_ot">NUMERO OT</label>
      <div class="input"><input type="text" id="numero_ot" name="numero_ot" placeholder="NUMERO OT"></div>
    </div>
    <div class="label-row"><p>convencion  √ Para revisar X Pendiente</p></div>

</section>