:root{  --cens-green: #006633;  --cens-green-light: #009933;  --cens-green-medium: #669933;  --cens-green-lime: #99CC33;  --epm-gray-dark: #666666;  --epm-gray-mid: #CCCCCC;  --epm-gray-light: #EDEDED;  --bg-light: #F7F7F7;  --text-dark: #222;}

.tabla-pdf { width: 100%; border-collapse: collapse; margin-top: 10px;font-size: 14px;  font-family: "EPM Sans", Arial, sans-serif; }
.tabla-pdf th, .tabla-pdf td {border: 2px solid var(--cens-green);padding: 6px; vertical-align: middle; }
.titulo-verde { color: var(--cens-green); font-weight: 700; text-align: center; font-size: 15px;  font-family: "EPM Rounded", Arial, sans-serif; }
.col-titulo { background: #E4FFE4; font-weight: bold; color: var(--cens-green);  font-family: "EPM Rounded", Arial, sans-serif; }
.selector { width: 100%; padding: 6px; border-radius: 6px; border: 1px solid var(--epm-gray-mid);  font-family: "EPM Sans", Arial, sans-serif; }
.obs-input {width: 100%; padding: 8px; border-radius: 6px; border: 1px solid var(--epm-gray-mid);  font-family: "EPM Sans", Arial, sans-serif; }
@media(max-width:600px){
  .tabla-pdf { font-size: 12px; }
  .selector { font-size: 12px; padding:4px; }
  .titulo-verde { font-size: 13px; }
}

