.tabla-pdf { width: 100%; border-collapse: collapse; margin-top: 10px;font-size: 14px; }
.tabla-pdf th, .tabla-pdf td {border: 2px solid #006633;padding: 6px; vertical-align: middle; }
.titulo-verde { color: #006633; font-weight: 700; text-align: center; font-size: 15px;  }
.col-titulo { background: #E4FFE4; font-weight: bold; color: #006633; }
.selector { width: 100%; padding: 6px; border-radius: 6px; border: 1px solid #ccc;  }
.obs-input {width: 100%; padding: 8px; border-radius: 6px; border: 1px solid #ccc;  }
@media(max-width:600px){
  .tabla-pdf { font-size: 12px; }
  .selector { font-size: 12px; padding:4px; }
}

