<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Planilla Registro - Subestación Zulia (Paginado)</title>

<!-- ======= CSS (mobile-first, paleta institucional EPM/CENS) ======= -->
{% load static %}
<link rel="stylesheet" href="{% static 'subestacion/stilo/s30_la_miel.css' %}">
<link rel="stylesheet" href="{% static 'subestacion/stilo/s30_la_miel_tabla.css' %}">
</head>
<body>
<div class="app">

    {% if message %}
        <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
            {{ message }}
        </div>
    {% endif %}

    {% if error_message %}
        {{ error_message|safe }}
    {% endif %}

    {% if error_message_html %}
        {{ error_message_html|safe }}
    {% endif %}

    {% if mensaje_exito %}
        {{ mensaje_exito|safe }}
    {% endif %}

  <!-- ========== PÁGINA 1: Datos generales  ========= -->
  <form id="planillaForm" autocomplete="off" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
  {% include 'subestacion/S_XX_ZULIA/encabezado/encabezado.html' %}

<table class="tabla-pdf"><!-- ========== PÁGINA 2: NIVEL 13.8kV — TRANSFORMADORES DE TENSIÓN  CONT. DESC. DPS F========= -->
	<h2>2. NIVEL 13.8kV</h2>
	<tr><!-- Encabezado PÁGINA 2-->
		<th colspan="2" class="titulo-verde">RECONECTADOR DE ENTRADA  34.5 KV RC3-11 </th>
		<th colspan="4" class="titulo-verde">TRANSFORMADORES DE CORRIENTE  34.5 KV RC3-11</th>
		<th colspan="4" class="titulo-verde">TRANSFORMADORES DE TENSIÓN   34.5 KV RC3-11</th>
	</tr>
  
	<tr><!-- FILA 2 PÁGINA 2-->
		<td class="col-titulo">ELEMENTO</td>
		<td class="col-titulo">ESTADO</td>
		<td class="col-titulo">ELEMENTO</td>
		<td class="col-titulo" colspan="3 ">ESTADO</td>
		<td class="col-titulo">ELEMENTO</td>
		<td class="col-titulo" colspan="3 ">ESTADO</td>
		
	</tr>

	<tr><!-- FILA 3 PÁGINA 2-->
		<td class="col-titulo"></td>
		<td class="col-titulo"></td>
		<td class="col-titulo"></td>
		<td class="col-titulo" colspan="1">Fase R</td>
		<td class="col-titulo" colspan="1">Fase S</td>
		<td class="col-titulo" colspan="1">Fase T</td>

		<td class="col-titulo"></td>
		<td class="col-titulo" colspan="1">Fase R</td>
		<td class="col-titulo" colspan="1">Fase S</td>
		<td class="col-titulo" colspan="1">Fase T</td>
		
	</tr>
	<tr><!-- FILA 4 PÁGINA 2-->
		<td class="col-titulo">Estado Físico Tanque</td>
		<td><select id="id_EFT_fa_rc_t2" name="id_EFT_fa_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado Físico Tanque</td>
		<td><select id="id_EFT_fa_tc_t2" name="id_EFT_fa_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_EFT_fb_tc_t2" name="id_EFT_fb_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_EFT_fc_tc_t2" name="id_EFT_fc_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td>Estado Físico Equipo</td>
		<td><select id="id_EFT_fa_tt_t2" name="id_EFT_fa_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_EFT_fb_tt_t2" name="id_EFT_fb_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_EFT_fc_tt_t2" name="id_EFT_fc_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
    </tr>
	<tr><!-- FILA 5 PÁGINA 2-->
		<td class="col-titulo">Estado Físico Gabinete</td>
		<td><select id="id_EFG_fa_rc_t2" name="id_EFG_fa_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Conexiones de entrada</td>
		<td><select id="id_Ce_fa_tc_t2" name="id_Ce_fa_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Ce_fb_tc_t2" name="id_Ce_fb_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Ce_fc_tc_t2" name="id_Ce_fc_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td>Conexiones de entrada</td>
		<td><select id="id_Ce_fa_tt_t2" name="id_Ce_fa_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Ce_fb_tt_t2" name="id_Ce_fb_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Ce_fc_tt_t2" name="id_Ce_fc_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
    </tr>
	<tr><!-- FILA 6 PÁGINA 2-->
		<td class="col-titulo">Breakers</td>
		<td><select id="id_B_rc_t2" name="id_B_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Conexionado de salida</td>
		<td><select id="id_Cs_fa_tc_t2" name="id_Cs_fa_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cs_fb_tc_t2" name="id_Cs_fb_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cs_fc_tc_t2" name="id_Cs_fc_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td>Conexionado de salida</td>
		<td><select id="id_Cs_fa_tt_t2" name="id_Cs_fa_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cs_fb_tt_t2" name="id_Cs_fb_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cs_fc_tt_t2" name="id_Cs_fc_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
    </tr>
	<tr><!-- FILA 7 PÁGINA 2-->
		<td class="col-titulo">Display</td>
		<td><select id="id_D_rc_t2" name="id_D_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Conductores puesta tierra</td>
		<td><select id="id_Cpt_fa_tc_t2" name="id_Cpt_fa_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fb_tc_t2" name="id_Cpt_fb_tc__t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fc_tc_t2" name="id_Cpt_fc_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td>Conexionado de salida</td>
		<td><select id="id_Cpt_fa_tt_t2" name="id_Cpt_fa_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fb_tt_t2" name="id_Cpt_fb_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fc_tt_t2" name="id_Cpt_fc_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
    </tr>
	<tr><!-- FILA 8 PÁGINA 2-->
		<td class="col-titulo">Aseo gabinete</td>
		<td><select id="id_Ag_rc_t2" name="id_Ag_rc_t24" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Conductores puesta tierra</td>
		<td><select id="id_Cpt_fa_tc_t2" name="id_Cpt_fa_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fb_tc_t2" name="id_Cpt_fb_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fc_tc_t2" name="id_Cpt_fc_tc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td>Conexiones puesta tierra</td>
		<td><select id="id_Cpt_fa_tt_t2" name="id_Cpt_fa_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fb_tt_t2" name="id_Cpt_fb_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="id_Cpt_fc_tt_t2" name="id_Cpt_fc_tt_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	 </tr>
	<tr><!-- FILA 9 PÁGINA 2-->
		<td class="col-titulo">Op. Remota</td>
		<td><select id="id_ORrc_t2" name="id_OR_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 10 PÁGINA 2-->
		<td class="col-titulo" colspan="2">observaciones </td>
		<td colspan="10"><input type="text" id="observaciones2" name="observaciones_2"></td></tr>
	</tr>
	<tr><!-- FILA 11 PÁGINA 2-->
		<td class="col-titulo">Prueba de AC</td>
		<td><select id="id_PAC_rc_t2" name="id_PAC_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 12 PÁGINA 2-->
		<td class="col-titulo">Prueba de DC</td>
		<td><select id="id_PDC_rc_t2" name="id_PDC_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 13 PÁGINA 2-->
		<td class="col-titulo">No. maniobras</td>
		<td><select id="id_Nm_rc_t2" name="id_Nm_rc_t2" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>

	
</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 3: SECCIONADORES ASOCIADOS 34.5 KV -Seccionadores SB11 SST12 OBSERVACIONES:========= -->
  <h2>3. TRANSFORMADOR --34.5/13.8KV - 5MVA -WEG TR-104 </h2>

	<tr><!-- Encabezado PÁGINA 3-->
		<th colspan="3" class="titulo-verde">Seccionadores</th>
		<th colspan="3" class="titulo-verde">Temperaturas</th>
		<th colspan="2" class="titulo-verde">Color silica Gel</th>
		<th colspan="2" class="titulo-verde">Conmutador</th>
		<th colspan="4" class="titulo-verde">Nivel de Aceite</th>
	</tr>
  
  		<tr><!-- FILA 1 PÁGINA 3-->
		<td class="col-titulo" colspan="3">Cont Descargas</td>
		<td class="col-titulo">Aceite</td>
		<td class="col-titulo">AT</td>
		<td class="col-titulo">BT</td>
		<td class="col-titulo">Trafo</td>
		<td class="col-titulo">Conm.</td>
		<td class="col-titulo">posición</td>
		<td class="col-titulo">No. mando</td>
		<td class="col-titulo" colspan="2">Cuba</td>
		<td class="col-titulo" colspan="2">OLTC</td>
		
	</tr>
	<tr><!-- FILA 2 PÁGINA 3-->
		<td class="col-titulo" colspan="3">34.5/13.8KV - 5MVA -WEG TR-104</td>
		<td><input type="text" id="it_Aceite_t3" name="it_Aceite_t3" placeholder="Aceite"></td>
		<td><input type="text" id="it_At_t3" name="it_At_t3" placeholder="At"></td>
		<td><input type="text" id="It_Bt_t3" name="It_Bt_t3" placeholder="Bt"></td>
		<td><input type="text" id="it_T_t3" name="it_T_t3" placeholder="Trafo"></td>
		<td><input type="text" id="it_C_t3" name="it_C_t3" placeholder="Conm."></td>
		<td><input type="text" id="it_p_t3" name="it_p_t3" placeholder="posición"></td>
		<td><input type="text" id="it_Nm_t3" name="it_Nm_t3" placeholder="No. mando"></td>
		<td class="col-titulo">80° C Max</td>
		<td><input type="text" id="it_80_Cuba" name="it_80_Cuba" placeholder="80°"></td>
		<td class="col-titulo">80° C Max</td>
		<td><input type="text" id="it_80_OLTC" name="it_80_OLTC" placeholder="80°"></td>
	</tr>

	<tr><!-- FILA 3 PÁGINA 3-->
		<td class="col-titulo">FASES</td>
		<td class="col-titulo">Alta</td>
		<td class="col-titulo">Baja</td>
		<td class="col-titulo" colspan="7">OBSERVACIONES:</td>
		<td class="col-titulo">25° C Max</td>
		<td ><input type="text" id="it_25_Cuba" name="it_25_Cuba" placeholder="25"></td>
		<td class="col-titulo">25° C Max</td>
		<td ><input type="text" id="it_25_OLTC" name="it_25_OLTC" placeholder="25°"></td>
		
	</tr>

	<tr><!-- FILA 4 PÁGINA 3-->
		<td class="col-titulo" colspan="1">FASE R</td>
		<td colspan="1"><input type="text" id="it_FRA" name="it_FRA" placeholder="FASE R Alta"></td>
		<td colspan="1"><input type="text" id="it_FRB" name="it_FRB" placeholder="FASE R Baja"></td>
		<td colspan="7"><input type="text" id="it_Observaciones_3" name="it_Observaciones_3" placeholder="Observaciones"></td>
		<td class="col-titulo">20° C Max</td>
		<td colspan="1"><input type="text" id="it_20_Cuba" name="it_20_Cuba" placeholder="20°"></td>
		<td class="col-titulo">20° C Max</td>
		<td class="col-titulo"><input type="text" id="it_20_OLTC" name="it_20_OLTC" placeholder="20°"></td>
		
	</tr>
	<tr><!-- FILA 5 PÁGINA 3-->
		<td class="col-titulo">FASE S</td>
		<td><input type="text" id="it_FSA" name="it_FSA" placeholder="FASE S Alta"></td>
		<td><input type="text" id="it_FSB" name="it_FSB" placeholder="FASE S Baja"></td>
	</tr>
	<tr><!-- FILA 6 PÁGINA 3-->
		<td class="col-titulo">FASE T</td>
		<td><input type="text" id="it_FTA" name="it_FTA" placeholder="FASE T Alta"></td>
		<td><input type="text" id="it_FTB" name="it_FTB" placeholder="FASE T Baja"></td>
	</tr>
	


</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 4:NIVEL 13.8 KV========= -->
	<h2>4. NIVEL 13.8kV</h2>
	<tr><!-- Encabezado PÁGINA 4-->
		<th colspan="2" class="titulo-verde">TRANSFORMADOR DE CORRIENTE</th>
		<th colspan="6" class="titulo-verde">TRANSFORMADORES DE TENSIÓN</th>
		<th colspan="2" class="titulo-verde">OBSERVACIONES:</th>
	</tr>
	<tr><!-- FILA 1 PÁGINA 4-->
		<td class="col-titulo">ELEMENTO</td>
		<td class="col-titulo"colspan="3">ESTADO</td>
		<td class="col-titulo">ELEMENTO</td>
		<td class="col-titulo"colspan="3">ESTADO</td>
	</tr>
	<tr><!-- FILA 2 PÁGINA 4-->
		<td class="col-titulo"></td>
		<td class="col-titulo">Fase R</td>
		<td class="col-titulo">Fase S</td>
		<td class="col-titulo">Fase T</td>
		<td class="col-titulo"></td>
		<td class="col-titulo">Fase R</td>
		<td class="col-titulo">Fase S</td>
		<td class="col-titulo">Fase T</td>
		<td class="col-titulo"></td>
		
</tr>
<tr> <!-- FILA 3 PÁGINA 4-->
		<td class="col-titulo">Conexiones de entrada</td>
		<td><select  id="it_Ce_fr_tc_t4" name="it_Ce_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Ce_fs_tc_t4" name="it_Ce_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Ce_ft_tc_t4" name="it_Ce_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Conexiones de entrada</td>
		<td><select id="Ce_fr_tt_t4" name="Ce_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="Ce_fs_tt_t4" name="Ce_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="Ce_ft_tt_t4" name="Ce_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		
		<td><input type="text" id="it_OBSERVACIONES_4"name="it_OBSERVACIONES_4"></td>
	</tr>
	<tr> <!-- FILA 4 PÁGINA 4-->
		<td class="col-titulo">Conexionado de salida</td>
		<td><select  id="it_Cs_fr_tc_t4" name="it_Cs_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cs_fs_tc_t4" name="it_Cs_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cs_ft_tc_t4" name="it_Cs_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Conexiones de entrada</td>
		<td><select id="it_Cs_fr_tc_t4" name="it_Cs_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cs_fs_tc_t4" name="it_Cs_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cs_ft_tc_t4" name="it_Cs_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		
	</tr>
	<tr> <!-- FILA 5 PÁGINA 4-->
		<td class="col-titulo">Conexionado de salida</td>
		<td><select  id="it_Cs_fr_tc_t4" name="it_Cs_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cs_fs_tc_t4" name="it_Cs_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cs_ft_tc_t4" name="it_Cs_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Conexiones de entrada</td>
		<td><select id="it_Cs_fr_tt_t4" name="it_Cs_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cs_fs_tt_t4" name="it_Cs_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cs_ft_tt_t4" name="it_Cs_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		
	</tr>
	<tr> <!-- FILA 6 PÁGINA 4-->
		<td class="col-titulo">Conductores puesta tierra</td>
		<td><select  id="it_Cpt_fr_t4" name="it_Cpt_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cpt_fs_t4" name="it_Cpt_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cpt_ft_t4" name="it_Cpt_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Conductores puesta tierra</td>
		<td><select id="it_Cpt_fr_t4" name="it_Cpt_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cpt_fs_t4" name="it_Cpt_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cpt_ft_t4" name="it_Cpt_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		
	</tr>
	<tr> <!-- FILA 7 PÁGINA 4-->
		<td class="col-titulo">Conexiones puesta tierra</td>
		<td><select  id="it_Cpt_fr_t4" name="it_Cpt_fr_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cpt_fs_t4" name="it_Cpt_fs_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select  id="it_Cpt_ft_t4" name="it_Cpt_ft_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Conexiones puesta tierra</td>
		<td><select id="it_Cpt_fa_t4" name="it_Cpt_fa_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cpt_fb_t4" name="it_Cpt_fb_tt__t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Cpt_fc_t4" name="it_Cpt_fc_tt_t4" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		
	</tr>

</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 5:NIVEL 34.5KV TRANSFORMADOR DE CORRIENTE INTERRUPTOR DE 34.5KV IT 10  PRESIONES DE SF6 Y MANIOBRAS INTERRUPTOR IT20========= -->
	<h2>5. TRANSFORMADOR 34.5/13.8kV </h2>
	<tr><!-- Encabezado PÁGINA 5-->
		<th colspan="2" class="titulo-verde">RECONECTADOR 13.8KV RC2-22 CIRCUITO ALEJANDRA  </th>
		<th colspan="2" class="titulo-verde">RECONECTADOR 13.8KV RC2-23 CIRCUITO BORRIQUEROS  </th>
		<th colspan="2" class="titulo-verde">RECONECTADOR 13.8KV RC2-2</th>
	</tr>
	<tr><!-- FILA 1 PÁGINA 5-->
		<th colspan="1" class="titulo-verde">ELEMENTO  </th>
		<th colspan="1" class="titulo-verde">ESTADO  </th>
		<th colspan="1" class="titulo-verde">ELEMENTO  </th>
		<th colspan="1" class="titulo-verde">ESTADO  </th>
		<th colspan="1" class="titulo-verde">ELEMENTO  </th>
		<th colspan="1" class="titulo-verde">ESTADO  </th>
	</tr>
	<tr><!-- FILA 2 PÁGINA 5-->
		<td class="col-titulo">Estado Físico Tanque</td>
		<td><select id="it_EFT_rca" name="it_EFT_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado Físico Tanque</td>
		<td><select id="it_EFT_rcb" name="it_EFT_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado Físico Tanque</td>
		<td><select id="it_EFT_rcz" name="it_EFT_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 3 PÁGINA 5-->
		<td class="col-titulo">Estado Físico Gabinete</td>
		<td><select id="it_EFG_rca" name="it_EFG_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado Físico Gabinete</td>
		<td><select id="it_EFG_rcb" name="it_EFG_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado Físico Gabinete</td>
		<td><select id="it_EFG_rcz" name="it_EFG_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 4 PÁGINA 5-->
		<td class="col-titulo">Breakers</td>
		<td><select id="it_B_rca" name="it_B_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Breakers</td>
		<td><select id="it_B_rcb" name="it_B_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Breakers</td>
		<td><select id="it_B_rcz" name="it_B_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 5 PÁGINA 5-->
		<td class="col-titulo">Display</td>
		<td><select id="it_D_rca" name="it_D_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Display</td>
		<td><select id="it_D_rcb" name="it_D_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Display</td>
		<td><select id="it_D_rcz" name="it_D_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 6 PÁGINA 5-->
		<td class="col-titulo">Aseo gabinete</td>
		<td><select id="it_Ag_rca" name="it_Ag_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Aseo gabinete</td>
		<td><select id="it_Ag_rcb" name="it_Ag_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Aseo gabinete</td>
		<td><select id="it_Ag_rcz" name="it_Ag_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 7 PÁGINA 5-->
		<td class="col-titulo">Op. Remota</td>
		<td><select id="it_OR_rca" name="it_OR_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Op. Remota</td>
		<td><select id="it_OR_rcb" name="it_OR_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Op. Remota</td>
		<td><select id="it_OR_rcz" name="it_OR_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 8 PÁGINA 5-->
		<td class="col-titulo">Prueba de AC</td>
		<td><select id="it_PAC_rca" name="it_PAC_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Prueba de AC</td>
		<td><select id="it_PAC_rcb" name="it_PAC_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Prueba de AC</td>
		<td><select id="it_PAC_rcz" name="it_PAC_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 9 PÁGINA 5-->
		<td class="col-titulo">Prueba de DC</td>
		<td><select id="it_PDC_rca" name="it_PDC_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Prueba de DC</td>
		<td><select id="it_PDC_rcb" name="it_PDC_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Prueba de DC</td>
		<td><select id="it_PDC_rcz" name="it_PDC_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 10 PÁGINA 5-->
		<td class="col-titulo">No. maniobras</td>
		<td><select id="it_Nm_rca" name="it_Nm_rca" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">No. maniobras</td>
		<td><select id="it_Nm_rcb" name="it_Nm_rcb" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">No. maniobras</td>
		<td><select id="it_Nm_rcz" name="it_Nm_rcz" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
			
	
</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 6:NIVEL 34.5KV TRANSFORMADOR DE CORRIENTE INTERRUPTOR DE 34.5KV IT 10  PRESIONES DE SF6 Y MANIOBRAS INTERRUPTOR IT20========= -->
	<h2>6. INTERRUPTOR DE 13.8KV </h2>

	<tr><!-- Encabezado PÁGINA 6-->
		<th colspan="5" class="titulo-verde">MODULO DE COMUNICACIONES</th>
		<th colspan="6" class="titulo-verde">GABINETE CALIDAD DE LA POTENCIA</th>
	</tr>
	<tr><!-- FILA 1 PÁGINA 6-->
		<td class="col-titulo"  colspan="1" >Elemento</td>
		<td class="col-titulo"  colspan="1" >Óptimo</td>
		<td class="col-titulo"  colspan="1" >Regular</td>
		<td class="col-titulo"  colspan="1" >Elemento</td>
		<td class="col-titulo"  colspan="1" >Óptimo</td>
		<td class="col-titulo"  colspan="1" >Regular</td>
	</tr>
<tr><!-- FILA 2 PÁGINA 6-->
		<td class="col-titulo">Iluminación</td>
		<td><select id="it_io_mc" name="it_io_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Ir_mc" name="it_IR_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Aseo</td>
		<td><select id="it_ao_gp" name="it_ao_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_ar_gp" name="it_ar_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
</tr>
	<tr><!-- FILA 3 PÁGINA 6-->
		<td class="col-titulo">Aseo</td>
		<td><select id="it_AÓ_mc" name="it_AÓ_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_AR_mc" name="it_AR_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Iluminación</td>
		<td><select id="it_IÓ_gp" name="it_IÓ_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_IR_gp" name="it_IR_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		</tr>
	<tr><!-- FILA 4 PÁGINA 6-->
		<td class="col-titulo">Estado de los equipos</td>
		<td><select id="it_EeÓ_mc" name="it_EeÓ_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Eer_mc" name="it_EeR_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Leds operación</td>
		<td><select id="LoÓ_gp" name="LoÓ_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="LoR_gp" name="LoR_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		</tr>
	<tr><!-- FILA 5 PÁGINA 6-->
		<td class="col-titulo">UPS</td>
		<td><select id="it_UÓ_mc" name="it_UÓ_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_UR_mc" name="it_UR_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Conexiones</td>
		<td><select id="it_CÓ_gp" name="it_CÓ_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_CR_gp" name="it_CR_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
</tr>
	<tr><!-- FILA 6 PÁGINA 6-->
		<td class="col-titulo">Breakers de baja tensión</td>
		<td><select id="it_Bbt_Ómc" name="it_Bbt_Ó_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_Bbt_R_mc" name="it_Bbt_R_mc" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>

		<td class="col-titulo">Estado Gabinete</td>
		<td><select id="it_EG_Ó_gp" name="it_EG_Ó_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td><select id="it_EG_R_gp" name="it_EG_R_gp" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 7 PÁGINA 6-->
		<td class="col-titulo">OBSERVACIONES_6a</td>
		<td class="col-titulo" rowspan="4"><input type="text" id="OBSERVACIONES_6a" name="OBSERVACIONES_6a" placeholder="OBSERVACIONES:MODULO DE COMUNICACIONES "></td>
		<td class="col-titulo">OBSERVACIONES_6b</td>
		<td class="col-titulo" rowspan="4"><input type="text" id="OBSERVACIONES_6b" name="OBSERVACIONES_6b" placeholder="OBSERVACIONES: GABINETE CALIDAD DE LA POTENCIA"></td>
	
	</tr>
</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 7:INSTALACIONES GENERALES --  KV========= -->
 <h2>7. INSTALACIONES GENERALES </h2>
	<tr><!-- Encabezado PÁGINA 7-->
		<th colspan="4" class="titulo-verde">INSTALACIONES GENERALES</th>
		<th colspan="1" class="titulo-verde">OBSERVACIONES:</th>
	</tr>
	<tr><!-- FILA 1 PÁGINA 7-->
		<td class="col-titulo" colspan="1" >Elementos</td>
		<td class="col-titulo" colspan="1" >Estado</td>
		<td class="col-titulo" colspan="1" >Elementos</td>
		<td class="col-titulo" colspan="1" >Estado</td>
		<td class="col-titulo" colspan="1" >OBSERVACIONES:</td>
	</tr>

	<tr><!-- FILA 2 PÁGINA 7-->
		<td class="col-titulo">Iluminación</td>
		<td><select id="it_I_IG" name="it_I_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Ahuyentador avifauna</td>
		<td><select id="it_Aa_IG" name="it_Aa_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo" rowspan="4"><input type="text" id="OBSERVACIONES_7" name="OBSERVACIONES_7" placeholder="OBSERVACIONES:INSTALACIONES GENERALES "></td>
	<tr><!-- FILA 3 PÁGINA 7-->
		<td class="col-titulo">Aseo</td>
		<td><select id="it_A_IG" name="it_A_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado bases</td>
		<td><select id="it_Eb_IG" name="it_Eb_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 4 PÁGINA 7-->
		<td class="col-titulo">Maleza</td>
		<td><select id="it_Mz_IG" name="it_Mz_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Motobomba</td>
		<td><select id="it_M_IG" name="it_M_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 5 PÁGINA 7-->
		<td class="col-titulo">Mncerramiento</td>
		<td><select id="it_E_IG" name="it_E_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Trafo. Serv. Aux.</td>
		<td><select id="it_TSA_IG" name="it_TSA_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 6 PÁGINA 7-->
		<td class="col-titulo">Luminarias</td>
		<td><select id="it_L_IG" name="it_L_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Voltaje Serv. Aux.</td>
		<td><select id="it_VSA_IG" name="it_VSA_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 7 PÁGINA 7-->
		<td class="col-titulo">Tapas Cárcamos</td>
		<td><select id="it_TC_IG" name="it_TC_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Corriente Serv. Aux.</td>
		<td><select id="it_CSA_IG" name="it_CSA_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 8 PÁGINA 7-->
		<td class="col-titulo">Extintores</td>
		<td><select id="it_E_IG" name="it_E_IG" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		</tr>
	
</table>

<table class="tabla-pdf"><!-- ========== PÁGINA 8: SISTEMA FOTO-VOLTAICO -- ======== -->
 <h2>8. SISTEMA FOTO-VOLTAICO </h2>
 <tr><!-- Encabezado PÁGINA 8-->
	  <tr><!-- Encabezado PÁGINA 8-->
		<th colspan="4" class="titulo-verde">SISTEMA FOTO-VOLTAICO</th>
		<th colspan="1" class="titulo-verde">OBSERVACIONES:</th>
	</tr>
	<tr><!-- FILA 1 PÁGINA 8-->
		<td class="col-titulo" colspan="1" >Elementos</td>
		<td class="col-titulo" colspan="1" >Estado</td>
		<td class="col-titulo" colspan="1" >Elementos</td>
		<td class="col-titulo" colspan="1" >Estado</td>
		<td class="col-titulo" colspan="1" >OBSERVACIONES:</td>
	</tr>

	<tr><!-- FILA 2 PÁGINA 8-->
		<td class="col-titulo">Estado de Inversores</td>
		<td><select id="it_EI_ig" name="it_EI_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Paneles Solares</td>
		<td><select id="it_PS_ig" name="it_PS_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo" rowspan="4"><input type="text" id="OBSERVACIONES_8" name="OBSERVACIONES_8" placeholder="OBSERVACIONES:SISTEMA FOTO-VOLTAICO "></td>
	<tr><!-- FILA 3 PÁGINA 8-->
		<td class="col-titulo">Breaker's de DC</td>
		<td><select id="it_BDC_ig" name="it_BDC_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado estructura</td>
		<td><select id="it_Ee_ig" name="it_Ee_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 4 PÁGINA 8-->
		<td class="col-titulo">Breaker's de AC</td>
		<td><select id="it_BAC_ig" name="it_BAC_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Baterías de respaldo</td>
		<td><select id="it_Br_ig" name="it_Br_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 5 PÁGINA 8-->
		<td class="col-titulo">Led's de Operación</td>
		<td><select id="it_Led's_de_Operación_ig" name="it_Led's_de_Operación_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Estado gabinetetd>
		<td><select id="it_Estado_gabinete_ig" name="it_Estado_gabinete_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 6 PÁGINA 8-->
		<td class="col-titulo">Limpieza Gabinete</td>
		<td><select id="it_LG_ig" name="it_LG_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Voltaje baterias</td>
		<td><select id="it_Vb_ig" name="it_Vb_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	</tr>
	<tr><!-- FILA 7 PÁGINA 8-->
		<td class="col-titulo">Sist.Tierra</td>
		<td><select id="it_ST_ig" name="it_ST_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
		<td class="col-titulo">Voltaje Paneles</td>
		<td><select id="it_VP_ig" name="it_VP_ig" class="selector">{% include 'subestacion/OPCION_1/opcion_modelo1.html' %}</select></td>
	
</table>


<!-- Campo para subir firma -->
<table class="tabla-pdf" style="margin-top: 20px;">
	<tr>
		<th colspan="2" class="titulo-verde">FIRMA DIGITAL</th>
	</tr>
	<tr>
		<td class="col-titulo" style="width: 30%;">Firma Digital:</td>
		<td><input type="file" name="firma_digital" accept="image/*" style="width: 100%; padding: 5px;"></td>
	</tr>
</table>

<div class="pager" style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: center; padding: 20px;">
	<button type="submit" class="btn" style="background-color: #28a745; color: white; padding: 15px 30px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; min-width: 150px;">
		💾 Guardar Excel
	</button>
</div>
</form>

</body>
</html>
